apiVersion: apps/v1
kind: Deployment
metadata:
  name: paymentservice
  labels:
    app: paymentservice
    tier: paymentservice
spec:
  replicas: 3
  selector:
    matchLabels:
      app: paymentservice  
  template:
    metadata:
      labels:
        app: paymentservice
    spec:
      containers:
      - name: app
        image: mrgromovvitaly/hipster_payment:2           